
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/project.nuget.cache
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/project.assets.json
*.targets
*.props
*.dll
*.pdb
*.editorconfig
Lab_AnnaP_home2/.vs/Lab_AnnaP_home2/v17/.suo
*.v2
*.exe
*.testlog
Lab_AnnaP_home2/.vs/Lab_AnnaP_home2/v17/.suo
*.tmp
Lab_AnnaP_home2/Lab_AnnaP_home2/Logs/example.log.2022-05-02
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/Lab_AnnaP_home2.AssemblyInfo.cs
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/Lab_AnnaP_home2.AssemblyInfoInputs.cache
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/Lab_AnnaP_home2.assets.cache
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Lab_AnnaP_home2.csproj.nuget.dgspec.json
*.cache
*.CopyComplete
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/Lab_AnnaP_home2.csproj.FileListAbsolute.txt
Lab_AnnaP_home2/Lab_AnnaP_home2/obj/Debug/net6.0/Lab_AnnaP_home2.csproj.BuildWithSkipAnalyzers
Lab_AnnaP_home2/Lab_AnnaP_home2/bin/Debug/net6.0/Lab_AnnaP_home2.runtimeconfig.json
Lab_AnnaP_home2/Lab_AnnaP_home2/bin/Debug/net6.0/Lab_AnnaP_home2.deps.json
